body{
	background-color: black;
  font-family: 'Droid Serif', serif;
  color:white;
}

#wrapper {
  margin: 0 auto;
  height: auto;
  background-color: black;
  border-right: 1px solid #821d0b;
  border-left: 1px solid #821d0b;
}
.frame1, .frame2, .frame3 {
  margin-top: 5px;
  text-align: center;
}
.frame3 {
  border-bottom:1px solid #821d0b;
  margin-top: 6px;
}
.frame4 {
  border-bottom: 1px solid #821d0b;

}
#searchform {
  margin-top: 5px;
  border-color: white;
 }
 .todayinhis {
  text-align: center;
}

.headerfooterimage, .imgrow1 {
  box-shadow: 1px 1px 25px #821d0b;
  padding: 0;
}
.imgrow1 {
  
}
@media (min-width: 1200px) { 
    .frame3 {
      margin-top:58px;
    }
}
@media (min-width: 992px) { 
    .frame4 {
      margin-left: 25px;

    }
@media (min-width: 1200px) { 
    .frame4 {
      margin-top: 34px;
      margin-left: 0px;
    }
}

